.flex-container {
    display: flex;
    justify-content: center;
}

h6 {
    color: #54A0FF;
    font-weight: bold;
    font-size: 16px;
}

label {
    color: #c4c4c4;
    font-size: 15px;
    font-weight: normal;
}

.sidenav h2 {
    font-weight: bolder;
}

.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #54A0FF;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.dropzone-wrapper {
border: 2px dashed #91b0b3;
color: #92b0b3;
position: relative;
height: 200px;
}

.dropzone-desc {
position: absolute;
margin: 0 auto;
left: 0;
right: 0;
text-align: center;
width: 40%;
top: 70px;
font-size: 16px;
}

.dropzone,
.dropzone:focus {
position: absolute;
outline: none !important;
width: 100%;
height: 150px;
cursor: pointer;
opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
background: #ecf0f5;
}

.main {
    margin-left: 240px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}